.idea/
*.exe

# Logisim autosave
*.autosave

# Generated assembly outputs
*.hex

# Generated netlist output
cpu_netlist.json
cpu_netlist.svg

# Verilog build artifacts
src/sim
src/isim
src/rom_init.mem
src/cpu_sim.vcd
